* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-calculator-container {
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.canvas-container {
  height: 200px;
}

#shade-picker {
  margin-right: 7px;
}

canvas {
  cursor: crosshair;
}

.color-blocks-container {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.color-block div {
  width: 60px;
  height: 50px;
  cursor: pointer;
}

.mixed-colors-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-content: center;
}

.mixed-colors-container div {
  width: 50%;
  border: 1px solid black;
}
.mixed-colors-container p {
  align-self: center;
  margin-left: 5px;
}
